body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5E6CC;
    padding: 0;
}

h1 {
    text-align: center;
    color: #2C3E50;
}

.livre {
    background-color: #EAEDED;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    vertical-align: top;
}

.livre:hover {
    transform: translateY(-10px);
}

.livre strong {
    color: #8B5E3B;
}

.livre p {
    margin: 10px 0;
    font-size: 14px;
    color: #2C3E50;
}

.livre-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
